header {
  background-color: #3a81ec;
  color: white;
  text-align: center;
}
header h1 {
  font-family: 'Outfit', sans-serif;
  font-weight: 900;
}
footer {
  /* Posicionar abajo */
  position: relative;
  bottom: 0;
  margin-top: 1rem;
  /* Ocupar todo el ancho disponible */
  width: 100%;
  min-height: 8vh;
  text-align: center;
}
footer p {
  margin-block-end: 1rem;
}